<div class="container pt-5">
    <div class="dropdown" style="text-align: center;">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            Select a City
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngFor="let city of cities" (click)="onSelect(city)">{{city}}</a></li>
        </ul>
    </div>
</div>

<div class="container p-5" *ngIf="selected">
    <div class="row">
        <div class="col container p-5">
            <h3 style="text-align: center;">Description</h3>
            <p style="text-align: justify;">{{cityDetails.description}}</p>
        </div>
        <div class="col container p-5">
            <h3 style="text-align: center;">Current Weather in {{cityDetails.name}}</h3>
            <div id="divWeatherMain">
                <div *ngIf="weatherData.isDay" class="weatherWidgetRow">
                    <i class="fas fa-3x fa-sun sun"></i>
                </div>
                <div *ngIf="!weatherData.isDay" class="weatherWidgetRow">
                    <i class="fas fa-3x fa-moon moon"></i>
                </div>
                <div class="weatherWidgetRow cloudDiv">
                    <i class="fas fa-cloud fa-3x cloud"></i>
                </div>
                <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{weatherData.main.temp}}°
                </div>
                <div class="weatherWidgetRow" style="font-size: 12px;">{{weatherData.main.temp_min}}° /
                    {{weatherData.main.temp_max}}°
                </div>
                <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{weatherData.main.feels_like}}°
                </div>
                <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{weatherData.name}}</div>
                <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{weatherData.main.humidity}}%</div>
                <div style="text-align: center;" class="pt-5" *ngIf="!forecast">
                    <button type="button" class="btn btn-primary" (click)="getForecastData(weatherData.name)">
                        Get 5 Day Weather Forecast
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="forecast">
    <div class="row">
        <div class="col" *ngFor="let day of forecastList.list">
            <div id="divWeatherMain">
                <div class="weatherWidgetRow" style="font-size: 24px;margin-top: 5px;color:brown;">{{day.dt * 1000 |
                    date: 'dd-MM-yyyy'}}
                </div>
                <div class="weatherWidgetRow" style="font-size: 20px;margin-top: 5px;">{{day.temp.day}}°
                </div>
                <div class="weatherWidgetRow" style="font-size: 12px;">{{day.temp.min}}° /
                    {{day.temp.max}}°
                </div>
                <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{day.feels_like.day}}°
                </div>
                <div class="weatherWidgetRow" style="font-size: 12px;margin-top: 10px;">{{forecastList.city.name}}</div>
                <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{day.humidity}}%</div>
            </div>
        </div>
    </div>
</div>